<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazonaws.youruserpools.CognitoYourUserPoolsDemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bonvoyage"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:name="com.amazonaws.youruserpools.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amazonaws.youruserpools.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.amazonaws.youruserpools.AddAttributeActivity"
            android:label="@string/title_activity_add_attribute"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.amazonaws.youruserpools.MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amazonaws.youruserpools.UserActivity" />
        </activity>
        <activity android:name="com.amazonaws.youruserpools.Cammera_Activity" />
        <activity
            android:name="com.amazonaws.youruserpools.Image_Selections"
            android:label="@string/title_activity_image__selections"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.amazonaws.youruserpools.ImageActivity" />
        <activity
            android:name="com.amazonaws.youruserpools.CloudActivity"
            android:label="@string/title_activity_cloud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.amazonaws.youruserpools.DownloadActivity" />
        <activity
            android:name="com.amazonaws.youruserpools.UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name="com.amazonaws.youruserpools.DownloadSelectionActivity" />
        <activity android:name="com.amazonaws.youruserpools.CloudSelections" />
        <activity
            android:name="com.amazonaws.youruserpools.SettingsActivityWeather"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amazonaws.youruserpools.WeatherActivity" />
        </activity>
        <activity
            android:name="com.amazonaws.youruserpools.WeatherActivity"
            android:label="@string/app_name"></activity>
        <activity android:name="com.amazonaws.youruserpools.CloudImageSelection"></activity>
    </application>

</manifest>
